<nav class="nav sticky">
 <h1><b routerLink="">STORE</b></h1>
  <div *ngIf="menuType==='default'" class="search">
    <input type="text" placeholder="Search for product">
    <button>Search</button>
  </div>
<div [ngSwitch]="menuType">
    <ul *ngSwitchCase="'default'">
        <li><b class="menu-items" routerLink="seller-auth">Seller</b></li>
        <li><b class="menu-items" routerLink="">Home</b></li>
        <li><b class="menu-items" routerLink="">Login</b></li>
        <li><b class="menu-items" routerLink="">Cart(0)</b></li>
    </ul>
    <ul *ngSwitchCase="'seller'">
        <li><b class="menu-items" routerLink="seller-add-product">Add product</b></li>
        <li><b class="menu-items" routerLink="seller-home">List</b></li>
        <li><b class="menu-items" (click)="logout()">Logout</b></li>
        <li><b class="menu-items" href="#">{{sellerName | titlecase}}</b></li>
    </ul>
</div>
</nav>