/* You can add global styles to this file, and also import other style files */
body{
    font-family: sans-serif;
}
.container{
    margin-left: 5%;
    margin-right: 5%;
}
.common-form{
    text-align: center;
    width: 300px;
    margin:auto;
    display: grid;
}
.form-input{
    height: 40px;
    margin-bottom: 10px;
    padding-left: 10px;
    border: 1px solid blue;

}
.form-button{
    height: 35px;
    border: 1px solid rgb(246, 243, 243);
    cursor: pointer;
    width: 40%;
}
b.menu-items:hover, b.menu-items:active{
    color: red;
    font-size: 150%;
}


